body{
    background: url(../images/city.jpg);
    font-family: 'Conv_pixel';
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: black;
    background-size: 100% auto;
    color:aliceblue;
}
h1{
    position: absolute;
    top: 20%;
    font-size: 1100%;
    width: 98%;
    text-shadow: 4px 4px red, 8px 8px black;
}
#text{
    margin: 0;
    top: 130%;
    left: 5%;
    position:absolute;
    width: 90%;
    height: auto;
    font-size: 300%;
}
.photo_description {
    margin: 0;
    font-size: 75%;
}